{% extends 'defaults/base.html' %}

{% block content %}
  {% include 'defaults/header.html' %}
{% comment %}   <h1>Modelo de Predicción de Resultados de Anuncios</h1>
  <form method="post" action="{% url 'resultado' %}">
    {% csrf_token %}
    <label for="importe_gastado">Importe Gastado:</label>
    <input type="number" id="importe_gastado" name="importe_gastado" min="0.0" max="20000.00" step="0.01" />

    <label for="clasificacion_descripcion">Clasificación Descripción:</label>
    <select id="clasificacion_descripcion" name="clasificacion_descripcion">
      <option value="Atributos">Atributos</option>
      <option value="Especiales">Especiales</option>
      <option value="Estratégicas">Estratégicas</option>
      <option value="Estratégico">Estratégico</option>
      <option value="Spots">Spots</option>
      <option value="Territorio">Territorio</option>
    </select>

    <label for="objetivo_descripcion">Objetivo Descripción:</label>
    <select id="objetivo_descripcion" name="objetivo_descripcion">
      <option value="Interacción">Interacción</option>
      <option value="ThruPlay">ThruPlay</option>
    </select>

    <label for="redsocial_descripcion">Red Social Descripción:</label>
    <select id="redsocial_descripcion" name="redsocial_descripcion">
      <option value="Dark Post">Dark Post</option>
      <option value="Facebook">Facebook</option>
      <option value="Instagram">Instagram</option>
    </select>

    <button type="submit">Predict</button>
  </form> {% endcomment %}
  <div class="d-flex justify-content-center align-items-center gap-3">
    <img src="https://purpurasolutions.com/public/assets/imagenes/psolutions/PS_Isotipo_.png" width="30px" height="30px">
    <img style="width: 200px; max-width: 80vw;" src="https://purpurasolutions.com/public/assets/imagenes/psolutions/PS_Logotipo_.png" alt="logo">
  </div>

  <div class="card rounded-5" style="margin-left:10vw; margin-right:10vw; margin-top:5vh; margin-bottom:5vh;">
    <form class="px-5 py-4" method="post" action="{% url 'resultado' %}">
      {% csrf_token %}
      <fieldset>
        <legend class="text-center fs-2 fw-bold">Modelo de Predicción de Resultados de Anuncios</legend>
        <div class="mb-3">
          <label for="importe_gastado" class="form-label">Importe Gastado:</label>
          <input type="number" id="importe_gastado" name="importe_gastado" min="0.1" step="0.01" class="form-control" placeholder="0.0" required />
        </div>
        <div class="mb-3">
          <label for="clasificacion_descripcion" class="form-label">Clasificación Descripción:</label>
          <select id="clasificacion_descripcion" name="clasificacion_descripcion" class="form-select">
            <option value="Atributos">Atributos</option>
            <option value="Especiales">Especiales</option>
            <option value="Estratégicas">Estratégicas</option>
            <option value="Estratégico">Estratégico</option>
            <option value="Spots">Spots</option>
            <option value="Territorio">Territorio</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="objetivo_descripcion" class="form-label">Objetivo Descripción:</label>
          <select id="objetivo_descripcion" name="objetivo_descripcion" class="form-select">
            <option value="Interacción">Interacción</option>
            <option value="ThruPlay">ThruPlay</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="redsocial_descripcion" class="form-label">Red Social Descripción:</label>
          <select id="redsocial_descripcion" name="redsocial_descripcion" class="form-select">
            <option value="Dark Post">Dark Post</option>
            <option value="Facebook">Facebook</option>
            <option value="Instagram">Instagram</option>
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark fw-bold">Predecir</button>
        </div>
      </fieldset>
    </form>
  </div>
{% if prediction %} 
  <div class="card rounded-5" style="margin-left:10vw; margin-right:10vw; margin-top:5vh; margin-bottom:5vh;">
    <div class="text-center px-5 py-4">
        <legend class="card-title fs-2 fw-bold">Resultado de Predicción</legend>
        <p class="card-text fs-5">La predicción del Resultado Alcanzado es: <b>{{ prediction }}</b></p>
    </div>
  </div>
{% endif %}

<div class="card rounded-5" style="margin-left:10vw; margin-right:10vw; margin-top:5vh; margin-bottom:5vh;">
  <p class="p-3 text-justify">
    Se desarrolló un modelo supervisado de regresión para estimar los resultados de los anuncios en las redes sociales Facebook e Instagram, utilizando una base de datos compuesta por 1,117 registros de anuncios. Se evaluaron 19 modelos de regresión diferentes, incluyendo Gradient Boosting Regressor, Random Forest Regressor, Light Gradient Boosting Machine, Extreme Gradient Boosting, entre otros. Tras la comparación, se determinó que el modelo con el mejor rendimiento fue ExtraTreesRegressor.

ExtraTreesRegressor es un algoritmo de regresión implementado en la biblioteca scikit-learn que forma parte de la familia de métodos de ensemble. Este algoritmo construye múltiples árboles de decisión aleatorios a partir de muestras del conjunto de datos y utiliza el promedio de las predicciones de estos árboles como resultado final. En el proceso de entrenamiento del modelo, se emplearon tres variables categóricas: "Clasificación del Anuncio", "Objetivo del Anuncio", "Red social", y una variable numérica: "Importe Invertido", utilizando el lenguaje Python.

Los indicadores de desempeño del modelo se calcularon como sigue:

- MAE (Error Absoluto Medio): 2142.2045, el valor más bajo entre los 19 modelos.
- MSE (Error Cuadrático Medio): 18791555.2920, el valor más bajo entre los 19 modelos.
- RMSE (Raíz del Error Cuadrático Medio): 4123.6347, el valor más bajo entre los 19 modelos.
- R2 (Coeficiente de Determinación): 0.8554, el valor más alto entre los 19 modelos.
- RMSLE (Error Medio de Logaritmo Cuadrático): 0.5010, el valor más bajo entre los 19 modelos.
- MAPE (Error Porcentual Absoluto Medio): 0.4724, el valor más bajo entre los 19 modelos.
En resumen, el modelo proporciona una precisión del 85.5% en la predicción de los resultados alcanzados por los anuncios, según el indicador R2.
  </p>
</div>
{% endblock %}